.btn {
  font-family: Roboto, sans-serif;
  min-inline-size: 40px;
  font-size: 0.875rem;
  padding-block: 10px;
  padding-inline: 24px;
  block-size: fit-content;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 24px;
  white-space: nowrap;
  font-weight: 500;
  vertical-align: middle;
  display: flex;
  gap: 10px;
  margin: 5px;
  will-change: background-color, box-shadow, transform;
  user-select: none;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.ripple {
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s, opacity 0.2s;
}

.ripple::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}
