/* stylelint-disable no-descending-specificity */
.ftIconButton {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  user-select: none;
}

.iconButton {
  border-radius: 50%;
  cursor: pointer;
  block-size: 1em;
  transition: background 0.15s ease-out;
  inline-size: 1em;

  &.shadow {
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  }

  &.base {
    background-color: var(--color-surface);
    color: var(--color-on-surface);

    &:not(.disabled) {
      &:hover,
      &:focus-visible {
        background-color: var(--color-surface-container-high);
        color: var(--color-on-surface);
      }

      &:active {
        background-color: var(--color-surface-container-pressed);
        color: var(--color-on-surface);
      }
    }
  }

  &.base-no-default:not(.disabled) {
    &:hover,
    &:focus-visible {
      background-color: var(--color-surface-container-high);
      color: var(--color-on-surface);
    }

    &:active {
      background-color: var(--color-surface-container-pressed);
      color: var(--color-on-surface);
    }
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:not(.disabled) {
      &:hover,
      &:focus-visible {
        background-color: var(--color-primary-hover);
        color: var(--color-on-primary-hover);
      }

      &:active {
        background-color: var(--color-primary-pressed);
        color: var(--color-on-primary-pressed);
      }
    }
  }


  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);

    &:not(.disabled) {
      &:hover,
      &:focus-visible {
        background-color: var(--color-secondary-hover);
        color: var(--color-on-secondary-hover);
      }

      &:active {
        background-color: var(--color-secondary-pressed);
        color: var(--color-on-secondary-pressed);
      }
    }
  }

  &.destructive {
    background-color: var(--color-error);
    color: var(--color-on-error);

    &:not(.disabled) {
      &:hover,
      &:focus-visible {
        background-color: var(--color-error-hover);
        color: var(--color-on-error);
      }

      &:active {
        background-color: var(--color-error-pressed);
        color: var(--color-on-error);
      }
    }
  }

  &.favorite,
  &.favorite:hover,
  &.favorite:focus-visible {
    color: var(--favorite-icon-color);

    &:not(.disabled) {
      color: var(--favorite-icon-color);
    }
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: auto;
  cursor: default;
  user-select: none;
}

.iconDropdown {
  background-color: var(--color-surface-container);
  color: var(--color-on-surface);
  display: inline;
  font-size: 12px;
  list-style-type: none;
  position: absolute;
  text-align: center;
  user-select: none;
  z-index: 3;
  border-radius: 8px;
  box-shadow: 0 2px 6px 2px var(--color-surface);

  &.left {
    inset-inline-end: calc(50% - 10px);
  }

  &.right {
    inset-inline-start: calc(50% - 10px);
  }

  &.top {
    inset-block-end: 45px;
  }

  &.bottom {
    inset-block-start: 45px;
  }

  .list {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    border-radius: 8px;
  }

  .listItem {
    cursor: pointer;
    white-space: nowrap;
    padding-block: 0;
    padding-inline: 12px;
    line-height: 2rem;
    border-radius: 4px;
    gap: 4px;

    &:hover,
    &:focus-visible {
      background-color: var(--color-surface-container-high);
      color: var(--color-on-surface-variant);
    }

    &:active {
      background-color: var(--color-surface-container-highest);
      color: var(--color-on-surface-variant);
    }
  }

  .listItemDivider {
    inline-size: calc(100% - 16px);
    margin-inline: 8px;
    align-self: center;
    block-size: 1px;
    border: 0;
    background-color: var(--color-outline-variant);
  }
}
