/*
    This file is part of FreeTube.

    FreeTube is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    FreeTube is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with FreeTube.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
* Credit goes to pavelvaravko for making this css.
* https://codepen.io/pavelvaravko/pen/qjojOr
*/

/* select starting stylings ------------------------------ */
.select-container {
  position: relative;
  block-size: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  inline-size: 200px;
  margin-block-start: 30px;
}

.select-text {
  position: relative;
  inline-size: 100%;
  block-size: 48px;
  border-radius: 8px;
  border: 0;
}

.list {
  position: absolute;
  inline-size: 100%;
  list-style: none;
  padding: 4px;
  margin: 0;
  z-index: 10;
  border-radius: 8px;
  word-wrap: break-word;
  box-shadow: 0 2px 6px 2px var(--color-surface);
  background-color: var(--color-surface-container-low);
  display: flex;
  flex-direction: column;
  max-block-size: 200px;
  overflow-y: auto;
  gap: 4px;
}

.select-option {
  display: block;
  padding-block: 0;
  padding-inline: 12px;
  line-height: 2rem;
  border-radius: 4px;
  gap: 4px;

  &:hover {
    background-color: var(--color-surface-container-high);
    color: var(--color-on-surface-variant);
  }

  &.selected {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

/* Use custom arrow */
.select-container .select-text {
  appearance: none;
  text-overflow: ellipsis;
  padding-inline-end: 1.5rem;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* LABEL ======================================= */
.select-label-container {
  inline-size: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.select-label {
  font-size: 12px;
  font-weight: normal;
  position: static;
  display: flex;
  column-gap: 8px;
  inset-inline-start: 0;
  inset-block-start: 10px;
  color: var(--color-on-surface-variant);
  transition: 0.2s ease all;

  .select-icon {
    inline-size: 12px;
    block-size: 12px;
  }
}

.selectTooltip {
  position: relative;
}

/* BOTTOM BARS ================================= */
.select-bar {
  position: relative;
  display: block;
}

.select-bar::before,
.select-bar::after {
  content: '';
  block-size: 2px;
  inline-size: 0;
  inset-block-end: 1px;
  position: absolute;
  background: var(--color-secondary);
  transition: 0.2s ease all;
}

.select-bar::before {
  inset-inline-start: 50%;
}

.select-bar::after {
  inset-inline-end: 50%;
}

/* active state */
.select-text:focus ~ .select-bar::before,
.select-text:focus ~ .select-bar::after {
  inline-size: 50%;
}

@media only screen and (width <= 800px) {
  .select-container {
    inline-size: 100%;
  }
}
