.videoChapters {
  overflow-y: hidden;
}

.chaptersTitle {
  margin-block: 10px 0;
  cursor: pointer;
}

.currentChapter {
  font-size: 15px;
}

.chaptersWrapper {
  margin-block-start: 15px;
  max-block-size: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chaptersWrapper.compact {
  max-block-size: 200px;
}

.chaptersChevron {
  vertical-align: middle;
}

.chaptersChevron.open {
  margin-inline-start: 4px;
}

.chapter {
  display: grid;
  grid-template:
    'thumbnail title' 2fr
    'thumbnail timestamp' 2fr / auto 1fr;
  column-gap: 8px;
  border-radius: 8px;
  justify-items: start;
  cursor: pointer;
  font-size: 15px;

  &:active {
    background-color: var(--color-surface-container-high);
    color: var(--color-on-surface);
  }
}

.chapterThumbnail {
  grid-area: thumbnail;
  inline-size: 130px;
  margin: 4px;
  border-radius: 8px;
  border: solid 3px transparent;
}

.chapter:hover {
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface);

  .chapterThumbnail {
    border-color: var(--color-outline-variant);
  }
}

.chaptersWrapper.compact .chapter {
  display: flex;
  flex-direction: row;
}

.chapterTitle {
  grid-area: title;
  align-self: center;
  margin: 0;
}

.chapter.current {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);

  &:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-on-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-pressed);
    color: var(--color-on-primary-pressed);
  }

  .chapterThumbnail {
    border-color: var(--color-secondary);
  }

  .chapterTitle {
    font-weight: bold;
  }
}

.chapterTimestamp {
  grid-area: timestamp;
  align-self: flex-start;
  padding-block: 4px;
  padding-inline: 4px;
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}
