.switch-ctn {
  margin-block: 20px;
  margin-inline: 16px;
  position: relative;

  &.compact {
    margin: 0;
  }
}

.switch-input {
  appearance: none;
  block-size: 32px;
  inset-inline-start: -8px;
  position: absolute;
  inset-block-start: calc(50% - 16px);
  transform: translate(0, -50%);
  inline-size: 52px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.switch-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  padding-block: 12px;
  padding-inline: 44px 0;
  position: relative;
  text-align: start;
  color: var(--color-on-surface);

  &::before,
  &::after {
    content: '';
    margin: 0;
    outline: 0;
    position: absolute;
    inset-block-start: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); // MD3 standard easing
  }

  // Track
  &::before {
    background-color: var(--color-surface-container-low);
    border-radius: 32px;
    block-size: 24px;
    inset-inline-start: 2px;
    inline-size: 40px;

    .switch-input:checked + & {
      background-color: var(--color-surface-container-highest);
      border-color: var(--color-primary);
    }

    .switch-input:disabled + & {
      background-color: var(--color-surface-container);
      border-color: var(--color-on-surface);
      opacity: 0.38;
    }

    .switch-input:focus-visible + & {
      outline: 2px solid var(--color-primary-hover);
      outline-offset: 2px;
    }
  }

  // Thumb
  &::after {
    background-color: var(--color-surface-container-high);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
    block-size: 16px;
    inset-inline-start: 6px;
    inline-size: 16px;

    .switch-input:checked + & {
      background-color: var(--color-primary);
      transform: translate(calc(100% * var(--horizontal-directionality-coefficient)), -50%);
      block-size: 16px;
      inline-size: 16px;
    }

    .switch-input:disabled + & {
      background-color: var(--color-on-surface);
      opacity: 0.38;
    }
  }

  // Hover states
  .switch-input:not(:disabled):hover + &::before {
    background-color: var(--color-surface-container-high);
  }

  .switch-input:checked:not(:disabled):hover + &::before {
    background-color: var(--color-surface-container-high);
  }

  @media (width <= 680px) {
    max-inline-size: 250px;
  }
}

.switch-label-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0175em;
  font-weight: 500;
}

.disabled {
  .switch-label {
    cursor: not-allowed;
  }

  .switch-label-text {
    opacity: 0.38;
    color: var(--color-on-surface);
  }
}
