.sideNav {
  display: block;
  block-size: calc(100vh - 60px);
  inline-size: 200px;
  padding-inline-start: 8px;
  overflow-x: hidden;
  position: sticky;
  inset-inline-start: 0;
  inset-block-start: 60px;
  z-index: 3;
  align-items: center;
  box-shadow: 1px -1px 1px -1px var(--color-surface);
  background-color: var(--color-surface-container);
  transition-property: inline-size;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  user-select: none;
}

.inner {
  block-size: 100%;
  inline-size: 200px;
  overflow: hidden auto;
}

.navOption,
.channelLink {
  color: var(--color-on-surface-variant);
  text-decoration: inherit;
}

.navOption,
.navChannel {
  position: relative;
  margin-block: 4px;
  min-block-size: 52px;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover {
    background-color: var(--color-surface-container-high);
    color: var(--color-on-surface);
  }

  &:active {
    background-color: var(--color-surface-container-highest);
    color: var(--color-on-surface);
  }
}

.moreOption {
  display: none;
}

.navChannel .navLabel,
.navOption .navLabel {
  margin-inline-start: 16px;
  overflow: hidden;
  word-break: break-word;
  margin-block: 0;
}

.navIcon {
  inline-size: 36px;
  aspect-ratio: 1;
  margin: 0;
}

.thumbnailContainer {
  min-inline-size: 52px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channelThumbnail {
  border-radius: 50%;
  vertical-align: middle;
}

.noThumbnail {
  /* font-size is used for font-icon */
  font-size: 36px;
  color: var(--color-on-surface-variant);
}

.sideNav hr {
  inline-size: calc(100% - 16px);
  margin-inline: 8px;
  align-self: center;
  block-size: 1px;
  border: 0;
  background-color: var(--color-outline-variant);
}

.refreshIcon {
  position: absolute;
  inset-block: 20px;
  inset-inline: 20px;
}

.closed {
  inline-size: 84px;

  .inner {
    inline-size: 100%;
  }

  .hiddenLabels {
    inline-size: 60px;
  }

  &.hiddenLabels {
    inline-size: 60px;
  }

  .refreshIcon {
    display: none;
  }

  .navChannel,
  .navOption {
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    flex-direction: column;
  }

  .thumbnailContainer {
    position: static;
    float: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navIcon {
    display: block;
  }

  .navLabel {
    text-align: center;
    font-size: 0.75rem;
    margin-inline-start: 4px;
  }
}

@media only screen and (width > 680px) {
  ::-webkit-scrollbar {
    inline-size: 8px;
    block-size: 8px;
  }
}

@media only screen and (width <= 680px) {
  .inner {
    display: contents;
  }

  hr,
  .mobileHidden,
  .refreshIcon {
    display: none;
  }

  .sideNav {
    position: fixed;
    inset-inline-start: 0;
    inset-block-end: 0;
    display: flex;
  }

  .topNavOption {
    margin-block-start: 0;
    padding-inline: 10px;
  }

  .sideNav,
  .closed {
    margin-block-start: 0;
    block-size: 60px;
    inline-size: 100%;
    inset-block: auto 0;
    overflow-y: hidden;
  }

  .navOption,
  .closed .navOption {
    inline-size: 70px;
    block-size: 40px;
    padding: 0;
    padding-block: 10px;
  }

  .navLabel {
    margin-inline-start: 0;
    inline-size: 100%;
    text-align: center;
    inset-inline-start: 0;
    font-size: 11px;
  }

  .moreOption {
    display: block;
  }

  .closed.hiddenLabels {
    inline-size: 100%;
  }
}
