.buttonList {
  padding: 4px;
  border-radius: 24px;
  block-size: fit-content;
  box-shadow: none;
  display: flex;
  gap: 2px;
  flex-flow: row nowrap;
  background-color: transparent;
}

.ftSubscribeButton {
  position: relative;
  text-align: start;
  inline-size: fit-content;
}

/* Ensures style here overrides style of .btn */
.subscribeButton.btn {
  min-inline-size: 150px;
  white-space: initial;
  background-color: transparent;
  color: var(--color-on-surface);
}

.subscribeButton.btn,
.profileDropdownToggle.btn {
  align-self: center;
  margin-block: 0;
  margin-inline: 0;
  background-color: transparent;
  color: var(--color-on-surface-variant);
}

.dropdownOpened {
  .subscribeButton,
  .profileDropdownToggle {
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
  }
}

.profileDropdownToggle.btn {
  border-inline-start: none !important;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  display: inline;
  min-inline-size: 1em;
  padding-block: 8px;
  padding-inline: 12px;
  box-sizing: content-box;
}

.hasProfileDropdownToggle {
  .subscribeButton.btn {
    min-inline-size: 100px;
    padding-block: 8px;
    padding-inline: 12px;
    border-inline-end: 1px solid var(--color-outline-variant) !important;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    box-sizing: content-box;
  }
}

.hasProfileDropdownToggle > .subscribeButton.btn,
.profileDropdownToggle.btn {
  padding-block: 8px;
  padding-inline: 12px;
  box-shadow: none;
  flex: auto;
  block-size: 2em;
}

.profileList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-block: 0;
  inline-size: 100%;
  position: absolute;
  list-style: none;
  padding: 4px;
  z-index: 3;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-start-radius: 24px;
  border-end-end-radius: 24px;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-variant);
  max-block-size: 240px;
  overflow-y: auto;

  .profile {
    cursor: pointer;
    display: flex;
    gap: 12px;
    flex-flow: row nowrap;
    padding-inline: 12px;
    block-size: 50px;
    align-items: center;
    border-radius: 4px;
    transition: background 0.2s ease-out;

    &:last-child {
      border-end-start-radius: 24px;
      border-end-end-radius: 24px;
    }

    &:hover {
      background-color: var(--color-primary-hover);
      color: var(--color-on-primary-hover);
      transition: background 0.2s ease-in;
    }

    .colorOption {
      inline-size: 40px;
      block-size: 40px;
      cursor: pointer;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 50%;
    }

    .initial {
      font-size: 20px;
      line-height: 1em;
      text-align: center;
      user-select: none;
    }

    .profileName {
      text-align: start;
      white-space: nowrap;
      overflow: hidden;
      max-lines: 2;
      text-overflow: ellipsis;
    }

    &.subscribed {
      background-color: var(--color-primary);

      .profileName {
        color: var(--color-on-primary);
      }
    }
  }
}
