.pure-checkbox input[type='checkbox'] {
  border: 0;
  clip: rect(0 0 0 0);
  block-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inline-size: 1px;
}

.pure-checkbox input[type='checkbox'] + label {
  position: relative;
  padding-inline-start: 2em;
  user-select: none;
  cursor: pointer;
  display: block;
  margin: 8px;
}

.pure-checkbox input[type='checkbox'] + label::before {
  box-sizing: border-box;
  content: '';
  color: var(--color-on-surface);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  inline-size: 20px;
  block-size: 20px;
  margin-block-start: -10px;
  align-items: center;
  border: 2px solid var(--color-on-surface);
  border-radius: 25%;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.pure-checkbox input[type='checkbox']:checked + label::before {
  border-color: var(--color-primary);
  animation: borderscale 200ms ease-in;
}

.pure-checkbox input[type='checkbox'] + label::after {
  box-sizing: content-box;
  border-style: solid;
  border-image: none;
  border-width: 0 0 4px 4px;
  content: '';
  background-color: transparent;
  color: var(--color-primary);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 4px;
  inline-size: 10px;
  block-size: 5px;
  margin-block-start: -5px;
  align-items: center;
  border-radius: 25%;
  transform: rotate(-45deg) scale(0);
  transform-origin: center;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.pure-checkbox input[type='checkbox']:focus-visible + label::before {
  background-color: var(--color-primary-container);
}

.pure-checkbox input[type='checkbox']:checked + label::after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.pure-checkbox input[type='checkbox']:disabled + label::before {
  border-color: var(--color-on-surface-variant);
  background-color: var(--color-surface-container);
}

.pure-checkbox input[type='checkbox']:not(:disabled):focus + label::before,
.pure-checkbox input[type='checkbox']:not(:disabled):hover + label::before {
  border: 2px solid var(--color-primary-container);
}

.pure-checkbox input[type='checkbox']:not(:disabled):active + label::before {
  border: 4px solid var(--color-primary-container);
}

.pure-checkbox input[type='checkbox']:disabled + label {
  cursor: not-allowed;
}

.pure-checkbox input[type='checkbox']:disabled:focus + label::before,
.pure-checkbox input[type='checkbox']:disabled:hover + label::before {
  background-color: inherit;
  cursor: not-allowed;
}

.pure-checkbox input[type='checkbox']:disabled:checked + label::before {
  background-color: var(--color-on-surface);
}

@keyframes
  borderscale {  50% {
    box-shadow: 0 0 0 2px var(--color-on-surface);
  }
}

.checkboxTitle {
  margin-block: 0;
  color: var(--color-on-surface);
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

@media only screen and (width <= 680px) {
  .pure-checkbox input[type='checkbox'] + label {
    margin-block-start: 4px;
  }
}

@media (hover: none) {
  .pure-checkbox input[type='checkbox'] + label {
    min-block-size: 40px;
  }
}
