.ft-playlist-selector {
  padding: 6px;

  &:hover ,
  &.selected {
    background-color: var(--color-background);
    border-radius: 8px;

    .thumbnailImage {
      opacity: 0.3;
    }
  }

  .thumbnail {
    position: relative;

    .videoCountContainer {
      position: absolute;
      inset-inline-end: 0;
      inset-block: 0;
      inline-size: 60px;
      block-size: calc(100% - 5px);
      font-size: 20px;

      .background,
      .inner {
        border-start-end-radius: 8px;
        border-end-end-radius: 8px;
        position: absolute;
        inset: 0;
      }

      .background {
        background-color: var(--color-background);
        opacity: 0.9;
      }

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-on-background);
      }
    }
  }

  .info {
    flex: 1;
    position: relative;

    .title {
      font-size: 20px;
      text-decoration: none;
      word-wrap: break-word;
      word-break: break-word;
    }

    .videoPresenceCount {
      margin-block: 4px;
    }
  }

  &.grid {
    display: flex;
    flex-direction: column;
    inline-size: 245px;
    min-block-size: 230px;
    padding-block-end: 16px;

    .thumbnail {
      .thumbnailImage {
        inline-size: 100%;
        // Ensure placeholder image displayed at same aspect ratio as most other images
        aspect-ratio: 16/9;
        border-radius: 8px;
      }
    }

    .title {
      font-size: 22px;
    }
  }
}

.selectedIcon {
  position: absolute;
  inset-block-start: calc(50% - 25px);
  inset-inline-start: calc(50% - 25px);
  font-size: 50px;
}
