.getNextPage {
  background-color: var(--color-surface-container-low);
  inline-size: 100%;
  block-size: 45px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  margin-block-start: 16px;
}

.getNextPage:hover,
.getNextPage:focus {
  background-color: var(--color-surface-container-hover);
  color: var(--color-surface-container-highest);
}

.card {
  margin-block: 0 20px;
  margin-inline: auto;
  inline-size: 85%;
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }
}
