body {
  margin: 0;
  min-block-size: 100vh;
  color: var(--color-on-surface);
  background-color: var(--color-background);

  --primary-input-color: rgb(0 0 0 / 50%);
  --link-color: var(--color-secondary);
  --link-visited-color: var(--color-secondary-visited);
  --instance-menu-color: var(--color-surface-container-low);
  --red-500: #f44336;
  --top-bar-push-down-adjustment-default: -35px;

  /* Value of 0 without 'px' does not work inside calc() */
  /* stylelint-disable length-zero-no-unit */
  --top-bar-push-down-adjustment-no-description: 0px;
  --top-bar-push-down-adjustment-edit-mode: 0px;
  --top-bar-push-down-adjustment-one-or-fewer: 0px;
  /* stylelint-enable length-zero-no-unit */

  --color-error: #f44336;
  --color-on-error: #000;
  --color-error-hover: #e53935;
  --color-error-pressed: #c62828;

  /* For the 'About' page, show the logo with the primary text color by default */
  --logo-primary-color: var(--color-on-surface);
  --logo-secondary-color: var(--color-on-surface);
  --logo-tertiary-color: var(--color-on-surface);
}


/*************** RULE TWEAKS ***************/

/* Default sidenav hover text color and primary input color not needed to be changed for most themes */
body:not(.hotPink) {
  --primary-input-color: rgb(0 0 0 / 50%);
}

/* Themes that use the main FreeTube logo */
.system[data-system-theme*='light'],
.light,
.system[data-system-theme*='dark'],
.dark,
.black,
.gray {
  --logo-icon: url('../../_icons/iconColorSmall.svg');
  --logo-text: url('../../_icons/textColorSmall.svg');
  --logo-primary-color: #f33;
  --logo-secondary-color: #29abe1;
  --logo-tertiary-color: #000;
}

/* Given that the Hot Pink theme does not need link underlining due to meeting
WCAG 2 Level AA (https://webaim.org/resources/linkcontrastchecker/?fcolor=FFFFFF&bcolor=DE1C85&lcolor=000000),
it can be safely elided. This looks quite pleasant on this theme. */
.hotPink a:not(:hover, :focus),
.hotPink .navOption:hover,
.hotPink .navOption:focus,
.hotPink *:not(:hover, :focus) {
  text-decoration: none;
}

.hotPink a:hover,
.hotPink a:focus {
  text-decoration: underline;
}

.hotPink .shaka-range-container {
  --color-primary: #fff;
}


/*************** DARK THEME ADJUSTMENTS ***************/

/* stylelint-disable no-descending-specificity */

.system[data-system-theme*='dark'],
.dark,
.dracula,
.catppuccinMocha,
.hotPink,
.nordic,
.solarizedDark {
  --primary-shadow-color: rgb(0 0 0 / 75%);
}

.invidiousLogo {
  background-color: var(--color-on-surface);
  mask-image: url('~./assets/img/invidious-logo-light.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
}

.youtubeLogo {
  background-color: var(--color-on-surface);
  mask-image: url('~./assets/img/yt_logo_mono_dark.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
}

/* stylelint-enable no-descending-specificity */


/*************** MAIN THEME DEFINITIONS ***************/

/*
  IMPLEMENTATION NOTE:
  When adding a new base theme, add that --color-background to src/main/index.js.
*/

.system[data-system-theme*='dark'],
.dark {
  --color-on-surface: #eee;
  --color-on-surface-variant: #ddd;
  --color-on-surface-variant-opacity: #ddda;
  --color-background: #212121;
  --favorite-icon-color: #0f0;
  --color-surface: #303030;
  --color-surface-container: #262626;
  --color-surface-container-hover: #212121;
  --color-surface-container-pressed: #303030;
}

.system[data-system-theme*='light'],
.light {
  --color-on-surface: #212121;
  --color-on-surface-variant: #424242;
  --color-on-surface-variant-opacity: #424242aa;
  --primary-shadow-color: rgb(232 232 232 / 100%);
  --color-background: #f1f1f1;
  --favorite-icon-color: #0c0;
  --color-surface: #fff;
  --color-surface-container: #fff;
  --color-surface-container-hover: #e0e0e0;
  --color-surface-container-pressed: #757575;
}

.black {
  --color-on-surface: #eee;
  --color-on-surface-variant: #ddd;
  --color-on-surface-variant-opacity: #ddda;
  --color-background: #000;
  --favorite-icon-color: #0f0;
  --color-surface: #000;
  --color-surface-container: #0f0f0f;
  --color-surface-container-hover: #212121;
  --color-surface-container-pressed: #303030;
}

.gray {
  --color-on-surface: #eee;
  --color-on-surface-variant: #e0e0e0;
  --color-on-surface-variant-opacity: #e0e0e0aa;
  --color-background: #212121;
  --color-surface: #303030;
  --color-surface-container: #262626;
  --color-surface-container-hover: #212121;
  --color-surface-container-pressed: #303030;
}

.nordic {
  --color-on-surface: #eee;
  --color-on-surface-variant: #ddd;
  --color-on-surface-variant-opacity: #ddda;
  --color-background: #2b2f3a;
  --favorite-icon-color: #0f0;
  --color-surface: #2e3440;
  --color-surface-container: #2e3440;
  --color-surface-container-hover: #3b4252;
  --color-surface-container-pressed: #3b4252;
  --logo-icon: url('../../_icons/iconNordicLightSmall.svg');
  --logo-text: url('../../_icons/textNordicLightSmall.svg');
}

.hotPink {
  --color-on-surface: #ffff;
  --color-on-surface-variant: #eee;
  --color-on-surface-variant-opacity: #eeea;
  --color-background: #ff008a;
  --favorite-icon-color: #0f0;
  --color-surface: #de1c85;
  --color-surface-container: #ee1e90;
  --color-surface-container-hover: #fff;
  --color-surface-container-pressed: #959595;
  --logo-icon: url('../../_icons/iconWhiteSmall.svg');
  --logo-text: url('../../_icons/textWhiteSmall.svg');

  /* The hot pink theme does not have a great color contrast with
  many other colors than black and white. This means that the primary and
  secondary theme colors are forced here to be black so as to avoid any
  accessibility concerns. */
  --color-primary: #000 !important;
  --color-primary-hover: #000 !important;
  --color-primary-pressed: #000 !important;
  --color-on-primary: #fff !important;
  --color-primary-container: #fff !important;
  --color-on-primary-container: #333 !important;
  --color-secondary: #000 !important;
  --color-secondary-hover: #808080 !important;
  --color-secondary-pressed: #6a739a !important;
  --color-on-secondary: #fff !important;
  --color-secondary-container: #000 !important;
  --color-on-secondary-container: #fff !important;
  --color-secondary-visited: #000 !important;
}

.pastelPink {
  --color-on-surface: #1f002b;
  --color-on-surface-variant: #361836;
  --color-on-surface-variant-opacity: #5a285a;
  --primary-shadow-color: rgb(255 240 240 / 50%);
  --color-background: #ffeadd;
  --favorite-icon-color: #760278;
  --color-surface: #ffd1dc;
  --color-surface-container: #ffd1dc;
  --color-surface-container-hover: #cef4f1;
  --color-surface-container-pressed: #3124e7;
  --logo-icon: url('../../_icons/iconBlackSmall.svg');
  --logo-text: url('../../_icons/textBlackSmall.svg');
}

.catppuccinMocha {
  --color-on-surface: #cdd6f4;
  --color-on-surface-variant: #bac2de;
  --color-on-surface-variant-opacity: #bac2deaa;
  --color-background: #1e1e2e;
  --favorite-icon-color: #0f0;
  --color-surface: #181825;
  --color-surface-container: #181825;
  --color-surface-container-hover: #11111b;
  --color-surface-container-pressed: #11111b;
  --logo-icon: url('../../_icons/iconCatppuccinMochaLightSmall.svg');
  --logo-text: url('../../_icons/textCatppuccinMochaLightSmall.svg');
}

.dracula {
  --color-on-surface: #f8f8f2;
  --color-on-surface-variant: #c6cee6;
  --color-on-surface-variant-opacity: #c6cee6aa;
  --color-background: #282a36;
  --favorite-icon-color: #0f0;
  --color-surface: #33353f;
  --color-surface-container: #44475a;
  --color-surface-container-hover: #57596b;
  --color-surface-container-pressed: #3d4051;
  --logo-icon: url('../../_icons/iconDraculaLightSmall.svg');
  --logo-text: url('../../_icons/textDraculaLightSmall.svg');
}

.solarizedDark {
  --color-on-surface: #fdf6e3;
  --color-on-surface-variant: #ddd6c3;
  --color-on-surface-variant-opacity: #ddd6c3aa;
  --color-background: #002b36;
  --favorite-icon-color: #0f0;
  --color-surface: #204b56;
  --color-surface-container: #204b56;
  --color-surface-container-hover: #608b96;
  --color-surface-container-pressed: #406b76;
  --logo-icon: url('../../_icons/iconSolarizedLightSmall.svg');
  --logo-text: url('../../_icons/textSolarizedLightSmall.svg');
}

.solarizedLight {
  --color-on-surface: #002b36;
  --color-on-surface-variant: #204b56;
  --color-on-surface-variant-opacity: #204b56;
  --color-background: #fdf6e3;
  --favorite-icon-color: #0f0;
  --color-surface: #eee8d5;
  --color-surface-container: #eee8d5;
  --color-surface-container-hover: #fdf6e3;
  --color-surface-container-pressed: #839496;
  --logo-icon: url('../../_icons/iconSolarizedDarkSmall.svg');
  --logo-text: url('../../_icons/textSolarizedDarkSmall.svg');
}

/*************** PRIMARY THEME COLOR DEFINTIONS ***************/

.mainRed,
.mainPink,
.mainPurple,
.mainDeepPurple,
.mainIndigo,
.mainBlue,
.mainLightBlue,
.mainCyan,
.mainTeal,
.mainGreen {
  --color-on-primary: #fff;
  --color-on-secondary: #fff;
  --logo-icon-bar-color: url('../../_icons/iconWhiteSmall.svg');
  --logo-text-bar-color: url('../../_icons/textWhiteSmall.svg');
}

/* light primary theme colors */
.mainLightGreen,
.mainLime,
.mainYellow,
.mainAmber,
.mainOrange,
.mainDeepOrange {
  --color-on-primary: #000;
  --color-on-secondary: #000;
  --logo-icon-bar-color: url('../../_icons/iconBlackSmall.svg');
  --logo-text-bar-color: url('../../_icons/textBlackSmall.svg');
}

.mainRed {
  --color-primary: #f44336;
  --color-primary-hover: #e53935;
  --color-primary-pressed: #c62828;
  --color-secondary: #f44336;
  --color-secondary-hover: #e53935;
  --color-secondary-pressed: #c62828;
  --color-secondary-container: #ef9a9a;
  --color-secondary-visited: #b71c1c;
  --color-surface-container-lowest: rgb(244 67 54 / 4%);
  --color-surface-container-low: rgb(244 67 54 / 12%);
  --color-surface-container-high: rgb(244 67 54 / 16%);
  --color-surface-container-highest: rgb(244 67 54 / 24%);
}

.mainPink {
  --color-primary: #e91e63;
  --color-primary-hover: #d81b60;
  --color-primary-pressed: #ad1457;
  --color-secondary: #e91e63;
  --color-secondary-hover: #d81b60;
  --color-secondary-pressed: #ad1457;
  --color-secondary-container: #f48fb1;
  --color-secondary-visited: #880e4f;
  --color-surface-container-lowest: rgb(233 30 99 / 4%);
  --color-surface-container-low: rgb(233 30 99 / 12%);
  --color-surface-container-high: rgb(233 30 99 / 16%);
  --color-surface-container-highest: rgb(233 30 99 / 24%);
}

.mainPurple {
  --color-primary: #9c27b0;
  --color-primary-hover: #8e24aa;
  --color-primary-pressed: #6a1b9a;
  --color-secondary: #9c27b0;
  --color-secondary-hover: #8e24aa;
  --color-secondary-pressed: #6a1b9a;
  --color-secondary-container: #ce93d8;
  --color-secondary-visited: #4a148c;
  --color-surface-container-lowest: rgb(156 39 176 / 4%);
  --color-surface-container-low: rgb(156 39 176 / 12%);
  --color-surface-container-high: rgb(156 39 176 / 16%);
  --color-surface-container-highest: rgb(156 39 176 / 24%);
}

.mainDeepPurple {
  --color-primary: #673ab7;
  --color-primary-hover: #5e35b1;
  --color-primary-pressed: #4527a0;
  --color-secondary: #673ab7;
  --color-secondary-hover: #5e35b1;
  --color-secondary-pressed: #4527a0;
  --color-secondary-container: #b39ddb;
  --color-secondary-visited: #311b92;
  --color-surface-container-lowest: rgb(103 58 183 / 4%);
  --color-surface-container-low: rgb(103 58 183 / 12%);
  --color-surface-container-high: rgb(103 58 183 / 16%);
  --color-surface-container-highest: rgb(103 58 183 / 24%);
}

.mainIndigo {
  --color-primary: #3f51b5;
  --color-primary-hover: #3949ab;
  --color-primary-pressed: #283593;
  --color-secondary: #3f51b5;
  --color-secondary-hover: #3949ab;
  --color-secondary-pressed: #283593;
  --color-secondary-container: #9fa8da;
  --color-secondary-visited: #1a237e;
  --color-surface-container-lowest: rgb(63 81 181 / 4%);
  --color-surface-container-low: rgb(63 81 181 / 12%);
  --color-surface-container-high: rgb(63 81 181 / 16%);
  --color-surface-container-highest: rgb(63 81 181 / 24%);
}

.mainBlue {
  --color-primary: #2196f3;
  --color-primary-hover: #1e88e5;
  --color-primary-pressed: #1565c0;
  --color-secondary: #2196f3;
  --color-secondary-hover: #1e88e5;
  --color-secondary-pressed: #1565c0;
  --color-secondary-container: #90caf9;
  --color-secondary-visited: #0d47a1;
  --color-surface-container-lowest: rgb(33 150 243 / 4%);
  --color-surface-container-low: rgb(33 150 243 / 12%);
  --color-surface-container-high: rgb(33 150 243 / 16%);
  --color-surface-container-highest: rgb(33 150 243 / 24%);
}

.mainLightBlue {
  --color-primary: #03a9f4;
  --color-primary-hover: #039be5;
  --color-primary-pressed: #0277bd;
  --color-secondary: #03a9f4;
  --color-secondary-hover: #039be5;
  --color-secondary-pressed: #0277bd;
  --color-secondary-container: #81d4fa;
  --color-secondary-visited: #01579b;
  --color-surface-container-lowest: rgb(3 169 244 / 4%);
  --color-surface-container-low: rgb(3 169 244 / 12%);
  --color-surface-container-high: rgb(3 169 244 / 16%);
  --color-surface-container-highest: rgb(3 169 244 / 24%);
}

.mainCyan {
  --color-primary: #00bcd4;
  --color-primary-hover: #00acc1;
  --color-primary-pressed: #00838f;
  --color-secondary: #00bcd4;
  --color-secondary-hover: #00acc1;
  --color-secondary-pressed: #00838f;
  --color-secondary-container: #80deea;
  --color-secondary-visited: #006064;
  --color-surface-container-lowest: rgb(0 188 212 / 4%);
  --color-surface-container-low: rgb(0 188 212 / 12%);
  --color-surface-container-high: rgb(0 188 212 / 16%);
  --color-surface-container-highest: rgb(0 188 212 / 24%);
}

.mainTeal {
  --color-primary: #009688;
  --color-primary-hover: #00897b;
  --color-primary-pressed: #00695c;
  --color-secondary: #009688;
  --color-secondary-hover: #00897b;
  --color-secondary-pressed: #00695c;
  --color-secondary-container: #80cbc4;
  --color-secondary-visited: #004d40;
  --color-surface-container-lowest: rgb(0 150 136 / 4%);
  --color-surface-container-low: rgb(0 150 136 / 12%);
  --color-surface-container-high: rgb(0 150 136 / 16%);
  --color-surface-container-highest: rgb(0 150 136 / 24%);
}

.mainGreen {
  --color-primary: #4caf50;
  --color-primary-hover: #43a047;
  --color-primary-pressed: #2e7d32;
  --color-secondary: #4caf50;
  --color-secondary-hover: #43a047;
  --color-secondary-pressed: #2e7d32;
  --color-secondary-container: #a5d6a7;
  --color-secondary-visited: #1b5e20;
  --color-surface-container-lowest: rgb(76 175 80 / 4%);
  --color-surface-container-low: rgb(76 175 80 / 12%);
  --color-surface-container-high: rgb(76 175 80 / 16%);
  --color-surface-container-highest: rgb(76 175 80 / 24%);
}

.mainLightGreen {
  --color-primary: #8bc34a;
  --color-primary-hover: #7cb342;
  --color-primary-pressed: #558b2f;
  --color-secondary: #8bc34a;
  --color-secondary-hover: #7cb342;
  --color-secondary-pressed: #558b2f;
  --color-secondary-container: #c5e1a5;
  --color-secondary-visited: #33691e;
  --color-surface-container-lowest: rgb(139 195 74 / 4%);
  --color-surface-container-low: rgb(139 195 74 / 12%);
  --color-surface-container-high: rgb(139 195 74 / 16%);
  --color-surface-container-highest: rgb(139 195 74 / 24%);
}

.mainLime {
  --color-primary: #cddc39;
  --color-primary-hover: #c0ca33;
  --color-primary-pressed: #9e9d24;
  --color-secondary: #cddc39;
  --color-secondary-hover: #c0ca33;
  --color-secondary-pressed: #9e9d24;
  --color-secondary-container: #e6ee9c;
  --color-secondary-visited: #827717;
  --color-surface-container-lowest: rgb(205 220 57 / 4%);
  --color-surface-container-low: rgb(205 220 57 / 12%);
  --color-surface-container-high: rgb(205 220 57 / 16%);
  --color-surface-container-highest: rgb(205 220 57 / 24%);
}

.mainYellow {
  --color-primary: #ffeb3b;
  --color-primary-hover: #fdd835;
  --color-primary-pressed: #f9a825;
  --color-secondary: #ffeb3b;
  --color-secondary-hover: #fdd835;
  --color-secondary-pressed: #f9a825;
  --color-secondary-container: #fff59d;
  --color-secondary-visited: #f57f17;
  --color-surface-container-lowest: rgb(255 235 59 / 4%);
  --color-surface-container-low: rgb(255 235 59 / 12%);
  --color-surface-container-high: rgb(255 235 59 / 16%);
  --color-surface-container-highest: rgb(255 235 59 / 24%);
}

.mainAmber {
  --color-primary: #ffc107;
  --color-primary-hover: #ffb300;
  --color-primary-pressed: #ff8f00;
  --color-secondary: #ffc107;
  --color-secondary-hover: #ffb300;
  --color-secondary-pressed: #ff8f00;
  --color-secondary-container: #ffe082;
  --color-secondary-visited: #ff6f00;
  --color-surface-container-lowest: rgb(255 193 7 / 4%);
  --color-surface-container-low: rgb(255 193 7 / 12%);
  --color-surface-container-high: rgb(255 193 7 / 16%);
  --color-surface-container-highest: rgb(255 193 7 / 24%);
}

.mainOrange {
  --color-primary: #ff9800;
  --color-primary-hover: #fb8c00;
  --color-primary-pressed: #ef6c00;
  --color-secondary: #ff9800;
  --color-secondary-hover: #fb8c00;
  --color-secondary-pressed: #ef6c00;
  --color-secondary-container: #ffcc80;
  --color-secondary-visited: #e65100;
  --color-surface-container-lowest: rgb(255 152 0 / 4%);
  --color-surface-container-low: rgb(255 152 0 / 12%);
  --color-surface-container-high: rgb(255 152 0 / 16%);
  --color-surface-container-highest: rgb(255 152 0 / 24%);
}

.mainDeepOrange {
  --color-primary: #ff5722;
  --color-primary-hover: #f4511e;
  --color-primary-pressed: #d84315;
  --color-secondary: #ff5722;
  --color-secondary-hover: #f4511e;
  --color-secondary-pressed: #d84315;
  --color-secondary-container: #ffab91;
  --color-secondary-visited: #bf360c;
  --color-surface-container-lowest: rgb(255 87 34 / 4%);
  --color-surface-container-low: rgb(255 87 34 / 12%);
  --color-surface-container-high: rgb(255 87 34 / 16%);
  --color-surface-container-highest: rgb(255 87 34 / 24%);
}


/* PRIMARY THEME COLORS CORRESPONDING TO BASE THEMES */

.mainCatppuccinMochaRosewater,
.mainCatppuccinMochaFlamingo,
.mainCatppuccinMochaPink,
.mainCatppuccinMochaMauve,
.mainCatppuccinMochaRed,
.mainCatppuccinMochaMaroon,
.mainCatppuccinMochaPeach,
.mainCatppuccinMochaYellow,
.mainCatppuccinMochaGreen,
.mainCatppuccinMochaTeal,
.mainCatppuccinMochaSky,
.mainCatppuccinMochaSapphire,
.mainCatppuccinMochaBlue,
.mainCatppuccinMochaLavender {
  --color-on-primary: #1e1e2e;
  --color-on-secondary: #1e1e2e;
  --logo-icon-bar-color: url('../../_icons/iconCatppuccinMochaDarkSmall.svg');
  --logo-text-bar-color: url('../../_icons/textCatppuccinMochaDarkSmall.svg');
}

.mainCatppuccinMochaRosewater {
  --color-primary: #f5e0dc;
  --color-primary-hover: #fceeec;
  --color-primary-pressed: #e1c8c3;
  --color-secondary: #f5e0dc;
  --color-secondary-hover: #fceeec;
  --color-secondary-pressed: #e1c8c3;
  --color-secondary-container: #f8eae7;
  --color-secondary-visited: #d3a197;
  --color-surface-container-lowest: rgb(245 224 220 / 4%);
  --color-surface-container-low: rgb(245 224 220 / 12%);
  --color-surface-container-high: rgb(245 224 220 / 16%);
  --color-surface-container-highest: rgb(245 224 220 / 24%);
}

.mainCatppuccinMochaFlamingo {
  --color-primary: #f2cdcd;
  --color-primary-hover: #f2e1e1;
  --color-primary-pressed: #ddb7b7;
  --color-secondary: #f2cdcd;
  --color-secondary-hover: #f3d7d7;
  --color-secondary-pressed: #ddb7b7;
  --color-secondary-container: #f7dfdf;
  --color-secondary-visited: #cf9898;
  --color-surface-container-lowest: rgb(242 205 205 / 4%);
  --color-surface-container-low: rgb(242 205 205 / 12%);
  --color-surface-container-high: rgb(242 205 205 / 16%);
  --color-surface-container-highest: rgb(242 205 205 / 24%);
}

.mainCatppuccinMochaPink {
  --color-primary: #f5c2e7;
  --color-primary-hover: #f3d2ea;
  --color-primary-pressed: #dca3cd;
  --color-secondary: #f5c2e7;
  --color-secondary-hover: #f3cee9;
  --color-secondary-pressed: #dca3cd;
  --color-secondary-container: #f4dbed;
  --color-secondary-visited: #d28fc0;
  --color-surface-container-lowest: rgb(245 194 231 / 4%);
  --color-surface-container-low: rgb(245 194 231 / 12%);
  --color-surface-container-high: rgb(245 194 231 / 16%);
  --color-surface-container-highest: rgb(245 194 231 / 24%);
}

.mainCatppuccinMochaMauve {
  --color-primary: #cba6f7;
  --color-primary-hover: #d4b7f8;
  --color-primary-pressed: #b38fdf;
  --color-secondary: #cba6f7;
  --color-secondary-hover: #d4b7f8;
  --color-secondary-pressed: #b38fdf;
  --color-secondary-container: #d6b9f9;
  --color-secondary-visited: #a171da;
  --color-surface-container-lowest: rgb(203 166 247 / 4%);
  --color-surface-container-low: rgb(203 166 247 / 12%);
  --color-surface-container-high: rgb(203 166 247 / 16%);
  --color-surface-container-highest: rgb(203 166 247 / 24%);
}

.mainCatppuccinMochaRed {
  --color-primary: #f38ba8;
  --color-primary-hover: #f0a4b9;
  --color-primary-pressed: #de7693;
  --color-secondary: #f38ba8;
  --color-secondary-hover: #f399b2;
  --color-secondary-pressed: #de7693;
  --color-secondary-container: #f5a3ba;
  --color-secondary-visited: #d56c89;
  --color-surface-container-lowest: rgb(243 139 168 / 4%);
  --color-surface-container-low: rgb(243 139 168 / 12%);
  --color-surface-container-high: rgb(243 139 168 / 16%);
  --color-surface-container-highest: rgb(243 139 168 / 24%);
}

.mainCatppuccinMochaMaroon {
  --color-primary: #eba0ac;
  --color-primary-hover: #eabbc3;
  --color-primary-pressed: #d68895;
  --color-secondary: #eba0ac;
  --color-secondary-hover: #ebb4bd;
  --color-secondary-pressed: #d68895;
  --color-secondary-container: #f0b7c0;
  --color-secondary-visited: #c86a79;
  --color-surface-container-lowest: rgb(235 160 172 / 4%);
  --color-surface-container-low: rgb(235 160 172 / 12%);
  --color-surface-container-high: rgb(235 160 172 / 16%);
  --color-surface-container-highest: rgb(235 160 172 / 24%);
}

.mainCatppuccinMochaPeach {
  --color-primary: #fab387;
  --color-primary-hover: #f7c7a9;
  --color-primary-pressed: #e1996d;
  --color-secondary: #fab387;
  --color-secondary-hover: #f7bd99;
  --color-secondary-pressed: #e1996d;
  --color-secondary-container: #fbc4a2;
  --color-secondary-visited: #d78a5b;
  --color-surface-container-lowest: rgb(250 179 135 / 4%);
  --color-surface-container-low: rgb(250 179 135 / 12%);
  --color-surface-container-high: rgb(250 179 135 / 16%);
  --color-surface-container-highest: rgb(250 179 135 / 24%);
}

.mainCatppuccinMochaYellow {
  --color-primary: #f9e2af;
  --color-primary-hover: #feeecd;
  --color-primary-pressed: #dec48d;
  --color-secondary: #f9e2af;
  --color-secondary-hover: #f9e7bf;
  --color-secondary-pressed: #dec48d;
  --color-secondary-container: #fbeccb;
  --color-secondary-visited: #d5b05d;
  --color-surface-container-lowest: rgb(249 226 175 / 4%);
  --color-surface-container-low: rgb(249 226 175 / 12%);
  --color-surface-container-high: rgb(249 226 175 / 16%);
  --color-surface-container-highest: rgb(249 226 175 / 24%);
}

.mainCatppuccinMochaGreen {
  --color-primary: #a6e3a1;
  --color-primary-hover: #bfebbb;
  --color-primary-pressed: #86c780;
  --color-secondary: #a6e3a1;
  --color-secondary-hover: #b6e3b2;
  --color-secondary-pressed: #86c780;
  --color-secondary-container: #bceab8;
  --color-secondary-visited: #6ed166;
  --color-surface-container-lowest: rgb(166 227 161 / 4%);
  --color-surface-container-low: rgb(166 227 161 / 12%);
  --color-surface-container-high: rgb(166 227 161 / 16%);
  --color-surface-container-highest: rgb(166 227 161 / 24%);
}

.mainCatppuccinMochaTeal {
  --color-primary: #94e2d5;
  --color-primary-hover: #aceae0;
  --color-primary-pressed: #6fc5b7;
  --color-secondary: #94e2d5;
  --color-secondary-hover: #a1dfd5;
  --color-secondary-pressed: #6fc5b7;
  --color-secondary-container: #afe9df;
  --color-secondary-visited: #5cccb9;
  --color-surface-container-lowest: rgb(148 226 213 / 4%);
  --color-surface-container-low: rgb(148 226 213 / 12%);
  --color-surface-container-high: rgb(148 226 213 / 16%);
  --color-surface-container-highest: rgb(148 226 213 / 24%);
}

.mainCatppuccinMochaSky {
  --color-primary: #89dceb;
  --color-primary-hover: #a3e4f0;
  --color-primary-pressed: #68bcca;
  --color-secondary: #89dceb;
  --color-secondary-hover: #99dfeb;
  --color-secondary-pressed: #68bcca;
  --color-secondary-container: #9fe3ef;
  --color-secondary-visited: #64c2d3;
  --color-surface-container-lowest: rgb(137 220 235 / 4%);
  --color-surface-container-low: rgb(137 220 235 / 12%);
  --color-surface-container-high: rgb(137 220 235 / 16%);
  --color-surface-container-highest: rgb(137 220 235 / 24%);
}

.mainCatppuccinMochaSapphire {
  --color-primary: #74c7ec;
  --color-primary-hover: #93d1ed;
  --color-primary-pressed: #59a9cf;
  --color-secondary: #74c7ec;
  --color-secondary-hover: #84c7e6;
  --color-secondary-pressed: #59a9cf;
  --color-secondary-container: #93d4f0;
  --color-secondary-visited: #6ab6d7;
  --color-surface-container-lowest: rgb(116 199 236 / 4%);
  --color-surface-container-low: rgb(116 199 236 / 12%);
  --color-surface-container-high: rgb(116 199 236 / 16%);
  --color-surface-container-highest: rgb(116 199 236 / 24%);
}

.mainCatppuccinMochaBlue {
  --color-primary: #89b4fa;
  --color-primary-hover: #a6c8ff;
  --color-primary-pressed: #6593df;
  --color-secondary: #89b4fa;
  --color-secondary-hover: #9bbef6;
  --color-secondary-pressed: #6593df;
  --color-secondary-container: #a7c7fb;
  --color-secondary-visited: #739cdd;
  --color-surface-container-lowest: rgb(137 220 235 / 4%);
  --color-surface-container-low: rgb(137 220 235 / 12%);
  --color-surface-container-high: rgb(137 220 235 / 16%);
  --color-surface-container-highest: rgb(137 220 235 / 24%);
}

.mainCatppuccinMochaLavender {
  --color-primary: #b4befe;
  --color-primary-hover: #c9d0ff;
  --color-primary-pressed: #8d98e4;
  --color-secondary: #b4befe;
  --color-secondary-hover: #c9d0ff;
  --color-secondary-pressed: #8d98e4;
  --color-secondary-container: #d2d8fe;
  --color-secondary-visited: #96a1e9;
  --color-surface-container-lowest: rgb(180 190 254 / 4%);
  --color-surface-container-low: rgb(180 190 254 / 12%);
  --color-surface-container-high: rgb(180 190 254 / 16%);
  --color-surface-container-highest: rgb(180 190 254 / 24%);
}

.mainDraculaCyan,
.mainDraculaGreen,
.mainDraculaOrange,
.mainDraculaPink,
.mainDraculaPurple,
.mainDraculaRed,
.mainDraculaYellow {
  --color-surface-container-lowest: rgb(98 114 164 / 4%);
  --color-surface-container-low: rgb(98 114 164 / 12%);
  --color-surface-container-high: rgb(98 114 164 / 16%);
  --color-surface-container-highest: rgb(98 114 164 / 24%);
}

.mainDraculaCyan,
.mainDraculaGreen,
.mainDraculaOrange,
.mainDraculaRed,
.mainDraculaYellow {
  --color-on-primary: #282a36;
  --color-on-secondary: #212121;
  --logo-icon-bar-color: url('../../_icons/iconDraculaDarkSmall.svg');
  --logo-text-bar-color: url('../../_icons/textDraculaDarkSmall.svg');
}

.mainDraculaPink,
.mainDraculaPurple {
  --color-on-primary: #f8f8f2;
  --color-on-secondary: #f8f8f2;
  --logo-icon-bar-color: url('../../_icons/iconDraculaLightSmall.svg');
  --logo-text-bar-color: url('../../_icons/textDraculaLightSmall.svg');
}

.mainDraculaCyan {
  --color-primary: #8be9fd;
  --color-primary-hover: #97ebfd;
  --color-primary-pressed: #7dd2e4;
  --color-secondary: #8be9fd;
  --color-secondary-hover: #97ebfd;
  --color-secondary-pressed: #7dd2e4;
  --color-secondary-container: #a2edfd;
  --color-secondary-visited: #6fbaca;
}

.mainDraculaGreen {
  --color-primary: #50fa7b;
  --color-primary-hover: #62fb88;
  --color-primary-pressed: #48e16f;
  --color-secondary: #50fa7b;
  --color-secondary-hover: #62fb88;
  --color-secondary-pressed: #48e16f;
  --color-secondary-container: #73fb95;
  --color-secondary-visited: #40c862;
}

.mainDraculaOrange {
  --color-primary: #ffb86c;
  --color-primary-hover: #ffbf7b;
  --color-primary-pressed: #e6a661;
  --color-secondary: #ffb86c;
  --color-secondary-hover: #ffbf7b;
  --color-secondary-pressed: #e6a661;
  --color-secondary-container: #ffc689;
  --color-secondary-visited: #cc9356;
}

.mainDraculaPink {
  --color-primary: #ff79c6;
  --color-primary-hover: #ff86cc;
  --color-primary-pressed: #e66db2;
  --color-secondary: #ff79c6;
  --color-secondary-hover: #ff86cc;
  --color-secondary-pressed: #e66db2;
  --color-secondary-container: #ff94d1;
  --color-secondary-visited: #cc619e;
}

.mainDraculaPurple {
  --color-primary: #bd93f9;
  --color-primary-hover: #c49efa;
  --color-primary-pressed: #aa84e0;
  --color-secondary: #bd93f9;
  --color-secondary-hover: #c49efa;
  --color-secondary-pressed: #aa84e0;
  --color-secondary-container: #caa9fa;
  --color-secondary-visited: #9776c7;
}

.mainDraculaRed {
  --color-primary: #f55;
  --color-primary-hover: #f66;
  --color-primary-pressed: #e64d4d;
  --color-secondary: #f55;
  --color-secondary-hover: #f66;
  --color-secondary-pressed: #e64d4d;
  --color-secondary-container: #f77;
  --color-secondary-visited: #c44;
}

.mainDraculaYellow {
  --color-primary: #f1fa8c;
  --color-primary-hover: #f2fb98;
  --color-primary-pressed: #d9e17e;
  --color-secondary: #f1fa8c;
  --color-secondary-hover: #f2fb98;
  --color-secondary-pressed: #d9e17e;
  --color-secondary-container: #f4fba3;
  --color-secondary-visited: #c1c870;
}

.mainSolarizedYellow,
.mainSolarizedOrange,
.mainSolarizedRed,
.mainSolarizedMagenta,
.mainSolarizedViolet,
.mainSolarizedGreen {
  --color-on-primary: #fdf6e3;
  --color-on-secondary: #fdf6e3;
  --logo-icon-bar-color: url('../../_icons/iconDraculaLightSmall.svg');
  --logo-text-bar-color: url('../../_icons/textDraculaLightSmall.svg');
}

.mainSolarizedBlue,
.mainSolarizedCyan {
  --color-on-primary: #000;
  --color-on-secondary: #000;
  --logo-icon-bar-color: url('../../_icons/iconDraculaDarkSmall.svg');
  --logo-text-bar-color: url('../../_icons/textDraculaDarkSmall.svg');
}

.mainSolarizedYellow {
  --color-primary: #b58900;
  --color-primary-hover: #d5a920;
  --color-primary-pressed: #f5c940;
  --color-secondary: #7b5b00;
  --color-secondary-hover: #bb9f40;
  --color-secondary-pressed: #897710;
  --color-secondary-container: #dbc050;
  --color-secondary-visited: #a9a130;
  --color-surface-container-lowest: rgb(165 165 0 / 4%);
  --color-surface-container-low: rgb(165 165 0 / 12%);
  --color-surface-container-high: rgb(165 165 0 / 16%);
  --color-surface-container-highest: rgb(165 165 0 / 24%);
}

.mainSolarizedOrange {
  --color-primary: #cb4b16;
  --color-primary-hover: #eb6b36;
  --color-primary-pressed: #fc8b56;
  --color-secondary: #8b3700;
  --color-secondary-hover: #db8140;
  --color-secondary-pressed: #b35936;
  --color-secondary-container: #eb8156;
  --color-secondary-visited: #c94d34;
  --color-surface-container-lowest: rgb(169 47 20 / 4%);
  --color-surface-container-low: rgb(169 47 20 / 12%);
  --color-surface-container-high: rgb(169 47 20 / 16%);
  --color-surface-container-highest: rgb(169 47 20 / 24%);
}

.mainSolarizedRed {
  --color-primary: #dc322f;
  --color-primary-hover: #fc524f;
  --color-primary-pressed: #fe726f;
  --color-secondary: #9a101d;
  --color-secondary-hover: #da504d;
  --color-secondary-pressed: #b8282b;
  --color-secondary-container: #fa726f;
  --color-secondary-visited: #d8302d;
  --color-surface-container-lowest: rgb(186 16 29 / 4%);
  --color-surface-container-low: rgb(186 16 29 / 12%);
  --color-surface-container-high: rgb(186 16 29 / 16%);
  --color-surface-container-highest: rgb(186 16 29 / 24%);
}

.mainSolarizedMagenta {
  --color-primary: #d33682;
  --color-primary-hover: #f356a2;
  --color-primary-pressed: #f558c2;
  --color-secondary: #8e1060;
  --color-secondary-hover: #dc5280;
  --color-secondary-pressed: #b814a0;
  --color-secondary-container: #fc5280;
  --color-secondary-visited: #d23480;
  --color-surface-container-lowest: rgb(176 20 96 / 4%);
  --color-surface-container-low: rgb(176 20 96 / 12%);
  --color-surface-container-high: rgb(176 20 96 / 16%);
  --color-surface-container-highest: rgb(176 20 96 / 24%);
}

.mainSolarizedViolet {
  --color-primary: #6c71c4;
  --color-primary-hover: #8c91e4;
  --color-primary-pressed: #acb1f4;
  --color-secondary: #2e43a4;
  --color-secondary-hover: #8e77c4;
  --color-secondary-pressed: #5e63e4;
  --color-secondary-container: #ae95f4;
  --color-secondary-visited: #6e83c4;
  --color-surface-container-lowest: rgb(78 83 164 / 4%);
  --color-surface-container-low: rgb(78 83 164 / 12%);
  --color-surface-container-high: rgb(78 83 164 / 16%);
  --color-surface-container-highest: rgb(78 83 164 / 24%);
}

.mainSolarizedBlue {
  --color-primary: #268bd2;
  --color-primary-hover: #46abf2;
  --color-primary-pressed: #66cbf4;
  --color-secondary: #0283b2;
  --color-secondary-hover: #469fd2;
  --color-secondary-pressed: #2483d4;
  --color-secondary-container: #66b1f4;
  --color-secondary-visited: #4899d2;
  --color-surface-container-lowest: rgb(4 131 178 / 4%);
  --color-surface-container-low: rgb(4 131 178 / 12%);
  --color-surface-container-high: rgb(4 131 178 / 16%);
  --color-surface-container-highest: rgb(4 131 178 / 24%);
}

.mainSolarizedCyan {
  --color-primary: #2aa198;
  --color-primary-hover: #4ac1b8;
  --color-primary-pressed: #6ae1d8;
  --color-secondary: #008776;
  --color-secondary-hover: #4cb9b8;
  --color-secondary-pressed: #1c9788;
  --color-secondary-container: #6ce1d8;
  --color-secondary-visited: #2ca998;
  --color-surface-container-lowest: rgb(8 135 118 / 4%);
  --color-surface-container-low: rgb(8 135 118 / 12%);
  --color-surface-container-high: rgb(8 135 118 / 16%);
  --color-surface-container-highest: rgb(8 135 118 / 24%);
}

.mainSolarizedGreen {
  --color-primary: #859900;
  --color-primary-hover: #a5b920;
  --color-primary-pressed: #c5d940;
  --color-secondary: #657700;
  --color-secondary-hover: #a59640;
  --color-secondary-pressed: #837720;
  --color-secondary-container: #c5d940;
  --color-secondary-visited: #857720;
  --color-surface-container-lowest: rgb(101 119 0 / 4%);
  --color-surface-container-low: rgb(101 119 0 / 12%);
  --color-surface-container-high: rgb(101 119 0 / 16%);
  --color-surface-container-highest: rgb(101 119 0 / 24%);
}

/*************** DESTRUCTIVE THEME COLOR OVERRIDES ***************/

/* stylelint-disable no-descending-specificity */

/* destructive color in case of conflict with red color themes (sets new destructive color to purple)
  NOTE: RED COLORS MUST CONTAIN 'Red' IN CLASSNAME.
*/
body[class*='Red'] * {
  --color-error: #9c27b0;
  --color-on-error: #fff;
  --color-error-hover: #8e24aa;
  --color-error-pressed: #6a1b9a;
}

/* destructive color in case of conflict with red and purple color themes (sets new destructive color to yellow)
  NOTE: PURPLE COLORS MUST CONTAIN 'Purple' IN CLASSNAME.
*/
body[class*='Red'][class*='Purple'] * {
  --color-error: #ff9800;
  --color-on-error: #fff;
  --color-error-hover: #fb8c00;
  --color-error-pressed: #ef6c00;
}

/* stylelint-enable no-descending-specificity */


/*************** LEFT-TO-RIGHT AND RIGHT-TO-LEFT RULES ***************/

body[dir='ltr'] {
  --ltr-or-rtl: ltr;
  --float-left-ltr-rtl-value: left;
  --float-right-ltr-rtl-value: right;
  --horizontal-directionality-coefficient: 1;
}

body[dir='rtl'] {
  --ltr-or-rtl: rtl;
  --float-left-ltr-rtl-value: right;
  --float-right-ltr-rtl-value: left;
  --horizontal-directionality-coefficient: -1;
}

body[dir='rtl'] [data-prefix='fas']:not([data-icon='magnifying-glass'], [data-icon='circle-question'], [data-icon='check']) {
  transform: scale(-1, 1);
}

/* Arabic, Kurdish, Persian and Urdu have a reversed question mark, but not Hebrew and Yiddish */
html[lang='ar'] [data-prefix='fas'][data-icon='circle-question'],
html[lang='fa'] [data-prefix='fas'][data-icon='circle-question'],
html[lang='ku'] [data-prefix='fas'][data-icon='circle-question'],
html[lang='ur'] [data-prefix='fas'][data-icon='circle-question'] {
  transform: scale(-1, 1);
}


/*************** MAIN APP STYLING RULES ***************/

.app {
  color: var(--color-on-surface);
  background-color: var(--color-background);
}


/* stylelint-disable no-descending-specificity */

/* stylelint-disable-next-line a11y/no-outline-none */
.hideOutlines *:focus {
  outline: none;
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

/* stylelint-enable no-descending-specificity */

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

::-webkit-scrollbar {
  inline-size: auto;
  block-size: auto;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface-container-highest);
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: padding-box;

  &:hover {
    border: 0;
  }

  &:hover,
  &:focus {
    background: var(--color-primary-hover);
  }
}
